.main{
    height: 40px;
    background: #020631;
    display: flex;
    width: 100vw;
    /* height: 100vh; */
    /* flex-direction: row; */
    color: aliceblue;
    position: absolute;
    justify-content: center;
    align-items: center;
}